# Backend configuration
FRONTEND_URL=http://localhost:3000
USUARIO=
PASSWORD=

#Frontend configuration
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Opções para MODEL_PROVIDER: "ollama" ou "huggingface"
MODEL_PROVIDER=

# Se usar Ollama local
OLLAMA_HOST=http://host.docker.internal:11434
OLLAMA_MODEL=ta-certo-brasil

# Se usar API remota (Hugging Face Spaces)
HF_SPACE_URL=